@model EntityLayer.Concrete.Employee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card  col-10 mb-md-8" style="margin:initial">

    <div class="card-header bg-dark d-flex align-items-center" style="margin:inherit;">
        <h5 class="font-weight-semi-bold ">Yeni Personel</h5>
    </div>
    <div class="card-body">
        <form asp-controller="Employee" asp-action="EmployeeAdd" method="post">
            <div class="form-group">
                <label asp-for="DepartmentId">Bölüm:</label>
                @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentList as SelectList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="PositionId">Pozisyon:</label>
                @Html.DropDownListFor(model => model.PositionId, ViewBag.PositionList as SelectList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="BranchId">Şube:</label>
                @Html.DropDownListFor(model => model.BranchId, ViewBag.BranchList as SelectList, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">İleri</button>
        </form>
    </div>
</div>
